.button {
  padding: 6px;
  text-align: left;
  font-size: 1em;
  cursor: pointer;
  background-color: black;
  color: white;
}

.button:hover {
  background-color: #aabbcc;
}

a {
  /*text-decoration: none;*/
}
